body{
    font-family: "Outfit", sans-serif;
    max-width: 1440px;
    background-color: hsl(217, 54%, 11%);
}

.content-container {
    width: 20%;
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    border: none;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px 20px hsla(215, 54%, 7%, 0.6), 
                0 0 2px 2px hsla(216, 50%, 16%);
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(178, 100%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.view-icon img {
    width: 40px;
    height: 40px;
}

.image-container:hover .hover-img {
    opacity: 0.6;
    cursor: pointer;
}

.title{
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.plain-text{
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 300;
}

.price-time-container{
    display: flex;
    justify-content: space-between;
}

.price{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.time-left{
    display: flex;
    align-items: center;
}

.icon{
    padding-right: 10px;
}

hr{
    color: hsl(215, 32%, 27%);
}

.author{
    display:flex;
    align-items: center;
}

.avatar{
    max-width: 10%;
    height: auto;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 20px;
}

.author-text{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.author a, .title a, a:visited {
    color:hsl(0, 0%, 100%);
    text-decoration: none;
    cursor: pointer;
}

.author a:active, .title a:active, a:hover {
    color:hsl(178, 100%, 50%);
    text-decoration: none;
    cursor: pointer;
}

a:focus {
    outline: 2px solid hsl(0, 0%, 100%);
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px; 
    text-align: center;
    width: 100%;
    color: hsl(215, 51%, 70%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (max-width: 375px) {
    .content-container {
        width: 70%;
    }
}

@media (min-width: 375px) and (max-width: 600px) {  
    .content-container {
        width: 70%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {  
    .content-container {
        width: 40%;
    }
}

